{% extends 'baseapp/main.html' %} {% block content %}

<div class="col-9 mx-auto mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <i class="fas fa-trash"></i>
      <a class="card-title"> Task</a>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col-md-6 mb-3 mx-auto">
          <a class="btn btn-primary" href="{% url 'home' %}">Go Back</a>
          <br />
          <form method="post" action="" class="form-inline">
            {%csrf_token%} {{form.as_p}}
            <br />
            <input class="btn btn-primary" type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
