{% extends 'baseapp/main.html' %} 
{% block content %}


<div class="col-9 mx-auto mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <i class="fas fa-trash"></i>
      <a class="card-title"> Task</a>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col-md-6 mb-3 mx-auto">
          <h4><a href="{% url 'home' %}">Go Back</a></h4>
          <form method="post" action="" class="form-inline">
            {%csrf_token%} {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>









<h4><a href="{% url 'home' %}">Go Back</a></h3>

<form method="post" action="" class="form-inline">
  {%csrf_token%} {{form.as_p}}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
