{% extends 'baseapp/main.html' %} {% block content %}

<div class="col-9 mx-auto mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <i class="fas fa-trash"></i>
      <a class="card-title"> Delete</a>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col-md-6 mb-3 mx-auto">
          <a class="btn btn-warning" href="{% url 'home' %}">Go back</a>
          <form method="post" action="" class="form-inline">
            {% csrf_token %}
            <p>Are you sure you want to delete? {{detail}}</p>
            <input class="btn btn-warning" type="submit" value="Delete" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
