{% extends 'baseapp/main.html' %} {% block content %}

<div class="col-9 mx-auto mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <i class="fas fa-edit"></i>
      <a class="card-title"> Login</a>
    </div>
    <div class="card-body">
      <div class="main">
        <form method="post" action="" >
          {% csrf_token %} {{form.as_p}}
          <input class="btn btn-primary" type="submit" value="Login" />
        </form>
        <br />
        <p>Don't have an account? <a href="{% url 'register'%}">Register</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
